# World Bank Mini Project

### required knowledge: pandas, JSON, matplotlib

In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt

In [2]:
data= json.load(open('data/world_bank_projects.json'))
df = pd.read_json('data/world_bank_projects.json')

In [3]:
df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

## Exercise-1

In [4]:
d={}
for c in df['countryshortname']:
    if c in d.keys():
        d[c] += 1
    else:
        d[c] = 1      
        
x= sorted(d.items(), key=lambda x: x[1], reverse=True)
print(x[:10])

[('China', 19), ('Indonesia', 19), ('Vietnam', 17), ('India', 16), ('Yemen, Republic of', 13), ('Morocco', 12), ('Nepal', 12), ('Bangladesh', 12), ('Mozambique', 11), ('Africa', 11)]

In [5]:
#Better solution for JSON exercise1
print(df['countryshortname'].value_counts().head(10))

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [6]:
#Africa is not a country, it has to be fixed.
df_fixed= df[df['countryshortname'] != "Africa"]
print(df_fixed['countryshortname'].value_counts().head(10))

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Mozambique            11
Brazil                 9
Name: countryshortname, dtype: int64

## Exercise-2

In [7]:
df['mjtheme_namecode'].head()

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

In [8]:
t= json_normalize(data,'mjtheme_namecode')
print(normal)
# There are missing names that have to be fixed with matching codes' names.
## Also, the top 10 results are different for 'name' and 'code'.

NameError: name 'normal' is not defined

In [ ]:
t['name'].value_counts().head(10)

In [ ]:
t['code'].value_counts().head(10)

## Exercise-3

In [ ]:
# First, a unique code has to be created by name mapping for themes names and codes.
unique_df =(t[t.name!=''].drop_duplicates())
unique_df

In [ ]:
# Secondly, I am converting the mapping above to a dict.
themes_dict = dict(zip(unique_df.code, unique_df.name))
themes_dict

In [ ]:
# Finally, I am filling in missing values through dict above.
t['new_name'] = t.code.map(themes_dict)
t.head(20)

In [ ]:
final= t[['code','new_name']]
final